body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#div-buttons-pokemon {
  margin-top           : 2%;
  margin-left          : 12%;
  display              : grid;
  gap                  : 5vh;
  grid-template-columns: 12% 12% 12% 12% 12% 12%;
}

.buttons-pokemon {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 5vh;
background-color: darkkhaki;
 
}
.buttons-pokemon:hover {
  background-color: rgb(60, 67, 188);
}
.buttons-pokemon:active {
  background-color: rgb(220, 249, 0);
  }